body{
  background-color: #075ef0;
}
/*navbar css*/
#navbar{
  background-color: white;
  border-bottom: white;
  height:80px;
}
.logo{
  height:80px;
}
#nav-button{
  padding: 8px 12px;
  margin-left:10px;
  margin-right:10px;
  border: none;
  line-height: 30px;
  width: 84px;
  border-radius: 10px;
  background-color: #075ef0;
}
#nav-button1{
  padding: 8px 12px;
  margin-left:10px;
  margin-right:10px;
  border: none;
  line-height: 30px;
  width: 110px;
  border-radius: 10px;
}
/*navbar css*/



footer{
  color: black;
  background-color: white;
}

h1{
  margin-bottom:40px;
}
